# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
.env
.pytest_cache/
.ruff_cache/

# Java / Maven
target/
*.class

# Node
node_modules/
dist/
.vite/
*.local

# Editors / OS
.DS_Store
.idea/
.vscode/
